<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            
            
            <section name="X3LToolBar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BG3Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        
        
        
        <X3LToolBar.Properties.Settings>
            <setting name="SteamLibraryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="zipFilePath" serializeAs="String">
                <value />
            </setting>
        </X3LToolBar.Properties.Settings>
        <BG3Tools.Properties.Settings>
            <setting name="xExit" serializeAs="String">
                <value>\CLOSE ER.bat</value>
            </setting>
            <setting name="xCheatEngine" serializeAs="String">
                <value>\X3L BG3 Table.ct</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value />
            </setting>
            <setting name="Size" serializeAs="String">
                <value />
            </setting>
        </BG3Tools.Properties.Settings>
    </userSettings>
</configuration>